In [1]:
import numpy as np

In [2]:
def cargar_datos(ruta_archivo):
    # Carga los datos del archivo CSV utilizando NumPy
    datos = np.genfromtxt(ruta_archivo, delimiter=',', skip_header=1)
    return datos

In [3]:
if __name__ == "__main__":
    ruta_archivo = '../data/retail_sales_dataset.csv'
    datos = cargar_datos(ruta_archivo)
    print(datos)

[[   1.   nan   nan ...    3.   50.  150.]
 [   2.   nan   nan ...    2.  500. 1000.]
 [   3.   nan   nan ...    1.   30.   30.]
 ...
 [ 998.   nan   nan ...    4.   25.  100.]
 [ 999.   nan   nan ...    3.   50.  150.]
 [1000.   nan   nan ...    4.   30.  120.]]

### Exploración de Datos:
* Calcula el total de ventas por categoría de producto.
* Calcula el promedio de ventas diarias por categoría de producto.
* Identifica las categorías de productos con mayores y menores ventas.

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('../data/retail_sales_dataset.csv')

In [15]:
suma = df.groupby('Product Category')['Total Amount'].sum().reset_index()
print(suma)

  Product Category  Total Amount
0           Beauty        143515
1         Clothing        155580
2      Electronics        156905

In [17]:
ventas_diarias = df.groupby(['Date', 'Product Category'])['Total Amount'].sum().reset_index()
print(ventas_diarias)

           Date Product Category  Total Amount
0    2023-01-01           Beauty          1500
1    2023-01-01         Clothing          2100
2    2023-01-02           Beauty            25
3    2023-01-02         Clothing          1650
4    2023-01-02      Electronics            90
..          ...              ...           ...
650  2023-12-29           Beauty          3300
651  2023-12-29      Electronics           100
652  2023-12-31      Electronics            50
653  2024-01-01           Beauty          1500
654  2024-01-01      Electronics            30

[655 rows x 3 columns]

In [18]:
promedio_ventas_diarias = ventas_diarias.groupby('Product Category')['Total Amount'].mean().reset_index()
print(promedio_ventas_diarias)

  Product Category  Total Amount
0           Beauty    703.504902
1         Clothing    670.603448
2      Electronics    716.461187

In [20]:
ventas_por_categoria = df.groupby('Product Category')['Total Amount'].sum().reset_index()
ventas_por_categoria = ventas_por_categoria.sort_values(by='Total Amount', ascending=False)

mayor_venta = ventas_por_categoria.iloc[0] 
menor_venta = ventas_por_categoria.iloc[-1]
print(mayor_venta) 
print(menor_venta)

Product Category    Electronics
Total Amount             156905
Name: 2, dtype: object
Product Category    Beauty
Total Amount        143515
Name: 0, dtype: object

### Manipulación de Datos:
* Filtra los datos para mostrar solo las ventas de una categoría de producto específica.
* Realiza operaciones de suma, resta, multiplicación y división en los datos para obtener estadísticas adicionales.

In [24]:

categoria = 'Electronics'
ventas_categoria_filtradas = df[df['Product Category'] == categoria]
print(ventas_categoria_filtradas)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
2                 3  2023-01-13     CUST003    Male   50      Electronics
7                 8  2023-02-22     CUST008    Male   30      Electronics
8                 9  2023-12-13     CUST009    Male   63      Electronics
12               13  2023-08-05     CUST013    Male   22      Electronics
14               15  2023-01-16     CUST015  Female   42      Electronics
..              ...         ...         ...     ...  ...              ...
988             989  2023-12-28     CUST989  Female   44      Electronics
991             992  2023-08-21     CUST992  Female   57      Electronics
992             993  2023-02-06     CUST993  Female   48      Electronics
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Suma  Resta  Multiplicación  \
2           1              30            30    31     29              30
7           4              25           100   104     96             400
8           2             300           600   602    598            1200
12          3             500          1500  1503   1497            4500
14          4             500          2000  2004   1996            8000
..        ...             ...           ...   ...    ...             ...
988         1              25            25    26     24              25
991         2              30            60    62     58             120
992         3              50           150   153    147             450
998         3              50           150   153    147             450
999         4              30           120   124    116             480

     División
2        30.0
7        25.0
8       300.0
12      500.0
14      500.0
..        ...
988      25.0
991      30.0
992      50.0
998      50.0
999      30.0

[342 rows x 13 columns]

In [ ]:
df['Suma'] = df['Total Amount'] + df['Quantity']
df['Resta'] = df['Total Amount'] - df['Quantity']
df['Multiplicación'] = df['Total Amount'] * df['Quantity']
df['División'] = df['Total Amount'] / df['Quantity'].replace(0, np.nan) 

estadisticas = df[['Suma', 'Resta', 'Multiplicación', 'División']].describe()
print(estadisticas)